# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/pory3729/chat-ws"
PassengerBaseURI "/ws"
PassengerNodejs "/home/pory3729/nodevenv/chat-ws/20/bin/node"
PassengerAppType node
PassengerStartupFile app.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
