# Konfigurasi WebSocket Chat Server (cPanel)
# Salin file ini ke .env dan sesuaikan nilainya
# PORT tidak perlu diisi, otomatis dari Passenger

DB_HOST=localhost 
DB_USER=pory3729_admin
DB_PASS=
DB_NAME=pory3729_smalka
